.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #F7F6F3;
}

.hero .hero-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero .hero-inner .hero-info {
  text-align: left;
  width: 550px;
  margin-right: 100px;
}

.hero .hero-inner .info-head {
  line-height: 60px;
  margin-bottom: 30px;
}

.hero .hero-inner .info-content {
  line-height: 40px;
  margin-bottom: 35px;
  font-size: 20px;
}

.hero .hero-inner .hero-image {
  background-image: url("../../img/ipad-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 550px;
  height: 391px;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  padding: 10px 30px 5px 30px;
  height: 30px;
  background-color: #F7E7E7;
}

.navbar-top .top-left, .navbar-top .top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.navbar-top .top-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-top a {
  text-decoration: none;
  color: #7C7C7C;
}

.navbar-top a:hover {
  color: #DB324D;
}

.navbar-top p {
  color: #7C7C7C;
  padding: 0 10px 0 0;
  margin: 0;
}

.navbar-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-top li {
  padding: 0 0 0 20px;
}

.navbar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  height: 70px;
  padding: 0 30px 0 30px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-main .logo {
  width: 20%;
}

.navbar-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
}

.navbar-main .navbar-link {
  text-decoration: none;
  color: #7C7C7C;
  margin: 0 20px 0 20px;
}

.navbar-main .navbar-link:hover, .navbar-main .navbar-link:focus, .navbar-main .navbar-link:active {
  color: #F67E7D;
}

.navbar-main .btn {
  margin: 0 0 0 20px;
}

.key-features .key-container {
  width: 1200px;
}

.key-features .key-container p {
  font-weight: 700;
  letter-spacing: 3px;
}

.key-features .key-container .info-left {
  text-align: left;
}

.key-features .key-container .info-right {
  text-align: right;
}

.key-features .key-image {
  background-image: url("../../img/ipad-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
}

.testimonials-home {
  background-color: #F7F6F3;
}

.testimonials-container {
  width: 1200px;
}

.more-inner {
  padding: 0 0 100px 0;
}

.more-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more-row .more-link {
  padding: 20px 50px 50px 50px;
}

.more-row a {
  text-transform: none;
  height: 170px;
  width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 45px 20px 45px;
}

.more-row a i {
  color: #F67E7D;
  padding: 10px 10px 30px 10px;
}

footer {
  background-color: #F7F6F3;
}

footer h6 {
  text-transform: uppercase;
  color: #0F7173;
  font-weight: bold;
}

footer p, footer li, footer a {
  font-size: 12px;
  letter-spacing: 2.5px;
  padding: 5px 0 5px 0;
  color: #7C7C7C;
}

footer .footer-container {
  padding: 50px 0 0 0;
}

footer .footer-row {
  padding: 0 0 40px 0;
}

footer .footer-nav .footer-nav-link:hover {
  text-decoration: none;
  letter-spacing: 2.5px;
  color: #F67E7D;
}

footer .footerform .footer-input {
  height: 25px;
  width: 225px;
  border-radius: 0;
  padding: 20px 0 10px 0;
}

footer .footerform input {
  font-style: italic;
}

footer .footerform .form-icon {
  background-color: #466362;
  display: inline-block;
  padding: 5px 10px 0 4px;
  justify-self: baseline;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}

footer .footerform .form-icon i {
  color: #ffffff;
}

footer .socialmedia .social-icon {
  padding: 20px 0 10px 0;
}

footer .socialmedia i {
  padding: 0 10px 0 0;
}

footer .socialmedia i:hover {
  color: #F67E7D;
}

footer .footer-bot {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #F7E7E7;
  padding: 0 30px 0 30px;
}

footer .footer-bot a, footer .footer-bot p {
  font-size: 10px;
  padding: 5px 10px 5px 10px;
}

footer .footer-bot a {
  text-decoration: none;
}

footer .footer-bot a:hover {
  color: #DB324D;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tapp {
  color: #F67E7D;
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 40px;
}

.tapp:hover {
  color: #DB324D;
  text-decoration: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #2B59C3;
  letter-spacing: 2px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 110px 0 60px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p, ul, li, a {
  font-family: 'Roboto', sans-serif;
  color: #466362;
  margin: 0;
}

.btn {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 50px;
  width: 200px;
  padding: 10px 0px 10px 0px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.34);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.34);
}

.btn-fill {
  background-color: #F67E7D;
  color: #ffff;
  margin-right: 10px;
}

.btn-fill:hover {
  background: #DB324D;
  color: #ffff;
}

.btn-outline {
  border-color: #F67E7D;
  color: #F67E7D;
}

.btn-outline:hover {
  background: #DB324D;
  border-color: #DB324D;
  color: #ffff;
}

.key-btn, .testimonials-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0 110px 0;
}

.key-btn .btn, .testimonials-btn .btn {
  width: 250px;
}

i {
  color: #466362;
}

.testimonials-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials-info .testimonials-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-info .testimonials-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.testimonials-info p {
  text-align: center;
  padding: 0 40px 0 40px;
}

.testimonials-info .test-comment {
  font-style: italic;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
}

.testimonials-info .test-name, .testimonials-info .test-owner {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.testimonials-info .test-name {
  font-weight: bolder;
}

.testimonials-info .test-owner {
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */