.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F7F6F3;

    .hero-inner {
        display: flex;
        align-items: flex-start;

        .hero-info {
            text-align: left;
            width: 550px;
            margin-right: 100px;
        }

        .info-head {
            line-height: 60px;
            margin-bottom: 30px;
        }

        .info-content {
            line-height: 40px;
            margin-bottom: 35px;
            font-size: 20px;
        }

        .hero-image {
            background-image: url('../../img/ipad-1.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 550px;
            height: 391px;
        }
    }
}