// Navbar Top

.navbar-top {
    display: flex;
    font-size: 10px; 
    padding: 10px 30px 5px 30px;
    height: 30px;
    background-color: #F7E7E7;

    .top-left, .top-right {
        display: flex;
        width: 50%;
    }

    .top-right {
        justify-content: flex-end;
    }

    a {
        text-decoration: none;
        color: #7C7C7C;
        
        &:hover {
            color: #DB324D;
        }
    } 

    p {
        color: #7C7C7C;
        padding: 0 10px 0 0;
        margin: 0;
    }

    ul {
        display: flex;
    }

    li {
        padding: 0 0 0 20px;
    }
}

// Navbar Main

.navbar-main {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 70px;
    padding: 0 30px 0 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .logo {
        width: 20%;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 80%;
    }

    .navbar-link {
        text-decoration: none;
        color: #7C7C7C;
        margin: 0 20px 0 20px;
        
        &:hover,
        &:focus,
        &:active {
            color: #F67E7D;
        }
        &.active {
            color: #F67E7D;
            font-weight: bolder;
            border-bottom: 2px solid;
            border-color: #F67E7D;
            padding-bottom: 5px;
        }    
    }

    .btn {
        margin: 0 0 0 20px;
    }
}