body {
    box-sizing: border-box;
}

// Tapp

.tapp {
    color: #F67E7D;
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 40px;

    &:hover {
        color: #DB324D;
        text-decoration: none;
    }
}

// Text

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #2B59C3;
    letter-spacing: 2px;
}

.head {
    display: flex;
    padding: 110px 0 60px 0;
    justify-content: center;
}

p, ul, li, a {
    font-family: 'Roboto', sans-serif;
    color: #466362;
    margin: 0;
}

// Buttons

.btn {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 50px;
    width: 200px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.340);
}

.btn-fill {
    background-color: #F67E7D;
    color: #ffff;
    margin-right: 10px;

    &:hover {
        background:  #DB324D;
        color: #ffff;
        }
}

.btn-outline {
    border-color: #F67E7D;
    color: #F67E7D;

    &:hover {
        background:  #DB324D;
        border-color: #DB324D;
        color: #ffff;
        }
}

.key-btn, .testimonials-btn  {
    display: flex;
    justify-content: center;
    padding: 100px 0 110px 0;

    .btn {
        width: 250px;
    }
}

// Icon

i {
    color: #466362;
}

// Testimonials

.testimonials-info {
    display: flex;
    flex-direction: column;

    .testimonials-person {
        display: flex;
        justify-content: center;
    }    

    .testimonials-star {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    p {
        text-align: center;
        padding: 0 40px 0 40px;
    }

    .test-comment {
        font-style: italic;
        font-weight: 100;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100px;
    }

    .test-name, .test-owner {
        align-content: flex-end;
    }

    .test-name {
        font-weight: bolder;
    }

    .test-owner {
        font-weight: 100;
    }
}