body {
    box-sizing: border-box;
}

// Tapp

.tapp {
    color: #F67E7D;
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 40px;

    &:hover,
    &:active,
    &:focus,
        &.active {
        color: #F67E7D;
        text-decoration: none;
    }
}

// Text

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #2B59C3;
    letter-spacing: 2px;
}

p, ul, li, a {
    font-family: 'Roboto', sans-serif;
    color: #466362;
    margin: 0;
}

// Buttons

.btn {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 50px;
    width: 200px;
    padding: 10px 0px 10px 0px;
}

.btn-fill {
    background-color: #F67E7D;
    color: #ffff;
    margin-right: 10px;

    &:hover,
    &:active,
    &:focus {
        background:  #9F4140;
        color: #ffff;
        }
}

.btn-outline {
    border-color: #F67E7D;
    color: #F67E7D;

    &:hover,
    &:active,
    &:focus {
        background:  #9F4140;
        border-color: #9F4140;
        color: #ffff;
        }
}